.menu_principal {
    background-color:#1593CB;
    display: flex;
    gap:75px;
    justify-content: center;
    width:100%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.titre {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: white;

    text-decoration: none;
}

.menu a  {
    text-decoration:none;
}

.menu a:visited {
    color: white;
}

.conteneur {
    margin-top: 25px;
    display: flex;
}

.cv{
    gap: 25px;
}

.bloc-texte {
    flex: 5;
    border-radius: 10px;
    text-align:justify;
}

.bloc-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texte-parcours, .texte-experience{
    flex: 1;
    display:flex;
    border:solid black;
}

/* Style optionnel pour rendre l'image responsive */
.bloc-image img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.onglet:hover{
    background-color: #0E4194;
    padding: 25px;
}

.onglet{
    padding: 25px;
}

.image-container {
    text-align: right;
}


img {
    float: left;
    margin-left: 10px; /* Espacement entre les images si nécessaire */
}